header img{
  width:70px;
  height:70px;
  margin-left: 40px;
  margin-top: 14px;
  
}



#hotelWeatherCardContainer{
  height:800px;
  width:1450px;
  /* border:solid;
  border-color: red; */
  background-color: black;
/* background-image:"Assets/images/containerimage1.jpg" ; */
}
/* #weatherCard{
  height:200px;
  width:200px;
  border:solid;
  border-color: lightcoral;
} */

/* styling suggested hotel cards */
.demo-card-wide{
  height:500px;
  border:solid;
  border-color:lightblue;
  font-weight: bold;
}

.demo-card-wide.mdl-card {
  width: 400px;

}
.demo-card-wide > .mdl-card__title {
  color:white;
  height: 176px;
  background: url('https://exp.cdn-hotels.com/hotels/1000000/10000/8800/8737/2ac8a84b_y.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: black;
  font-weight: bold;
  
}




#mainImage{
  background-image: url(./images/para.jpg);
  min-height: 480px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.searchSite{
    /*Adding properties on the text on image */
    position: absolute;
    bottom: 50px;
    right: 100px;
    color:whitesmoke;
    font-size: 30px;
    font-weight: bold;
    font-family: serif;
     
  } 

  searchSite{
    /* width:65%; */
    position: absolute;
  }
header{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: black; 
  
  
 }

.mdl-layout__header-row{
  background-color: white;
 color:black;
 background-color: lightgrey;
}
.button1{
  background-color: aqua;

}

.mdl-layout__tab{
  margin-top: 40px;
  font-size: 20px;
  color: white;
}

main{

  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  position: relative;
  font-family: Arial;
  margin: 0;
}

section img{
 
  /* border-style: solid; */
  /* border-width: 2px;
  padding: 5px; */
  /* flex: 0 0 300px; */
  flex:1 1 auto;
  /* margin:px; */
  /* width:100%;
  height:100%; */
  
  object-fit: cover;
  vertical-align: bottom;
  /* border-radius: 50px; */
   /* min-width: 200px; 
   max-height:300px;  */
   /* height: fit-content; */
   /* flex-grow: 1; */
   /* width: auto; */
  /* object-fit: cover;
  object-position: left; */
  margin: 1px;
  /* box-shadow: 5px 5px 5px #AAAAAA; */
}
img:hover{
 
      border-radius: 50px;
      border: 1px solid grey;
}
section{
  display:flex;
  align-self: flex-start;
  /* align-items: stretch; */
  /* align-items: center; */
  /* justify-content: center; */
  /* margin-top: 5%; */
}
.containerImages{
  display:flex; 
  flex-wrap:wrap;
  /* margin-top: 1px; */

  margin-left:250px;
  /* padding-left: 80px; */
  /* justify-content:space-around; */
  height:400px;
  width:954px;
  /* border:solid; */
  /* padding:1px; */
 
  /* border-color: orange; */
 
}
footer{
  border:solid;
  border-color: orange;
  margin:5px;
}

.hide {
  display: none;
}

/* .demo-card-image.mdl-card {
  width: 256px;
  height: 256px;
  background-image: url(./assets/newyork.jpg);
}
.demo-card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}
.demo-card-image__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
} */

/* .wrapper{
  position:absolute;
  top:40%;
  left:50%;
  /* transform: translate(-50%,-50%); 
  } 
  */

/*
.searchbox{
  position:relative;
}
  
 .searchbox .input{
   width:275px;
   border:0;
   height:75px;
   padding:0px 35px;
   border-radius: 50px;
   box-shadow: 0 0 15px 1px #b6bbc0;
   outline:none;
   color: #42be11;
   font-size: 24px;
   font-weight: bold;
   transition: all .5s linear;
 } 

.searchbtn{
  position: absolute;
  top:0;
  right: -1px;
  background:red;
  width:75px;
  height:75px;
  border-radius:50%;
  cursor:pointer;
  transition: all .5s linear;

}

.searchbtn .fas{
  position: absolute;
  
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  color: #42be11;
  font-size:22px;
  transition:all .5s linear;
}

.search.bg-green{
  background: #42be11;
  transition: all .2s linear;
}

.searchbtn .fas.color-white{
  color: #fff;
  transition: all .2s linear;
}
.searchbox .input.active-width{
  width:275px;


} */


* {
  box-sizing: border-box;
}

/* Style the search field */
form.wrapper input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.wrapper button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.wrapper button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.wrapper::after {
  content: "";
  clear: both;
  display: table;
}

.center_text {
  /*Adding properties on the text on image */
  position: absolute;
  bottom: 240px;
  right: 600px;
  color:black;
  font-size: 40px;
  font-weight: bold;
  font-family: serif;
  font-style: italic;
}
.wrapper{
  position: absolute;
  bottom: 130px;
  right: 700px;
}
.center_text2{
  position: absolute;
  bottom: 190px;
  right: 700px;
  color:black;
  font-size: 25px;
  font-family: serif;
  font-style: italic;
}

.center_text3{
  position: absolute;
  bottom: 100px;
  right: 705px;
  color:black;
  font-size: 20px;
  font-family: serif;
 

}

/* styling weather card */
#weatherCard{
 width:200px;
 height:200px;
 padding: 5px;
 margin: 0px; 
 color:white;
 background-color:black;
 
 }



/* .demo-card-event.mdl-card {
  width: 356px;
  height: 256px;
  background: #3E4EB8;
  margin-left: 30px;
  border:solid;
  border-color: red;
}
.demo-card-event > .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
}
.demo-card-event > .mdl-card__title {
  align-items: flex-start;
 
}
.demo-card-event > .mdl-card__title > h4 {
  margin-top: 5;
}
.demo-card-event > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
  border:solid;
  border-color:red;
  
}
.demo-card-event > .mdl-card__actions > .material-icons {
  padding-right: 10px;
}
.demo-card-event > .mdl-card__title,
.demo-card-event > .mdl-card__actions,
.demo-card-event > .mdl-card__actions > .mdl-button {
  color: #fff;
} */